@use "colors";

main {
    padding: 1.2rem;

    #content {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 890px) {
            flex-direction: column;

           img {
                margin-left: -2.5rem;
                margin-top: -1rem;
           }

            div {
                margin-top: 3vh;
            }
        }

        img {
            object-fit: contain;
            max-width: 100%;
        }
    }
}