@use "colors";

header {
    max-width: 1200px;
    margin: auto;
    margin-top: 8vh;
    padding: 30px;

    h1, p {
        width: fit-content;
        margin: auto;
    }

    h1 {
        font-size: 1.8em;
    }

    p {
        font-size: 1.05em;
    }
}

main {
    margin-bottom: 4rem;

    .warn {
        display: flex;
        align-items: center;
        width: fit-content;
        margin: auto
    }

    .input-container {
        max-width: 330px;
        margin: auto;       
    }

    button {
        display: block;

        border-radius: 8px;
        border: none;
        margin: auto;

        cursor: pointer;

        background-color: colors.$primary;
        color: colors.$light;

        padding: 10px;
    }

    input[type=text], select {
        display: block;
        margin: 0.5rem auto 0.5rem auto;
        background-color: colors.$light;
        padding: 12px;
        width: 100%;
        
        border: 1px solid #34312d29;
        border-radius: 8px;

        box-shadow: 0px 0px 1px #34312d3d;

        &:focus {
            outline: none;
        }
    }

    .input-title {
        position: absolute;
        transform: translate(0.4rem, -4.6em);

        background-color: colors.$light;
        color: colors.$mid;
        font-size: 0.8em;
    }

    .bar-chart {
        display: flex;
        flex-direction: column;
        gap: 6px;

        max-width: 600px;
        width: 100%;
        margin: auto;
        margin-top: 2.5rem;

        overflow-x: auto;

        h2 {
            font-weight: normal;
            text-align: center;
        }

        .chart-value {
            @media screen and (max-width: 360px) {
                display: none;
            }
        }

        .chart-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            gap: 18px;

            width: 100%;
            padding: 8px;

            p {
                min-width: 50px;
                max-width: 200px;
                font-size: 1em;
            }

            .img-container {
                width: 30px;
                min-width: 30px;
                height: 30px;

                overflow: hidden;

                border-radius: 50%;

                img {
                    object-fit: contain;
                }

                @media screen and (max-width: 360px) {
                    display: none;
                }
            }

            .bar {
                padding: 8px;
                height: 18px;
                background-color: colors.$secondary;
            }

            .details {
                display: none;
                position: absolute;
                background-color: colors.$light;
                box-shadow: 0px 0px 1px #34312d3d;

                padding: 10px;
                left: 50%;
                transform: translate(-50%, -15px);

                p {
                    font-size: 1em;
                }
            }

            @media screen and (max-width: 360px) {
                &:hover {
                    .details {
                        display: block
                    }
                }
            }
        }
    }
}

.tiny-loader {
    border: 5px solid colors.$mid;
    border-top: 5px solid colors.$dark;
    border-left: 5px solid colors.$dark;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin-tiny 2s linear infinite;
    margin: auto;
}
  
@keyframes spin-tiny {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.search-prompt {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.9em;
    color: colors.$mid;

    cursor: pointer;
}