@use "colors";

header {
    width: 85%;
    margin: auto;
    margin-top: 8vh;

    #tiny {
        color: colors.$mid;
        font-size: 0.8em;
        margin-top: 0;
        margin-bottom: 0.3rem;
    }

    #content {
        display: flex;
        justify-content: center;

        @media screen and (max-width: 830px) {
            flex-direction: column;
            #img-container {
                margin: auto;
            }
        }

        gap: 20px;

        max-width: 650px;
        margin: auto;

        img {
            display: block;
            object-fit: contain;
            max-width: 100%;
            transform: scale(1.3) translateY(30px);
        }

        #img-container {
            max-width: 510px;
            max-height: 250px;

            transform: translateY(-20px);
            
            overflow: hidden;
        }

        h1 {
            font-weight: normal;
            font-size: 1.6em;
            margin-bottom: 0;
        }
    }
}

main {
    width: 70%;
    margin: auto;
    margin-top: 2rem;

    @media screen and (max-width: 1000px) {
        width: 85%;
    }

    @media screen and (max-width: 540px) {
        width: 90%;
    }
     
    #line {
        border: 1px solid #34312d29;
        box-shadow: 0px 0px 1px #34312d3d;
    }

    #content {
        margin-top: 3rem;
    }

    #relatorios-painel {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 6px;

        @media screen and (max-width: 950px) {
            gap: 8px;

            div {
                border-radius: 15px !important;
            }
        }

        div {
            padding: 15px;
            background-color: darken(colors.$light, 1.5);
            color: colors.$dark;

            cursor: pointer;
        }

        #first {
            border-radius: 15px 0 0 15px;
        }

        #last {
            border-radius: 0 15px 15px 0;
        }

        .selected {
            background-color: darken(colors.$light, 4);
        }
    }
}