@use "colors";

header {
    padding: 1.2rem;

    #content {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 890px) {
            flex-direction: column;

           img {
                margin-left: -2.5rem;
                margin-top: -1rem;
           }

            div {
                margin-top: 3vh;
            }
        }

        img {
            object-fit: contain;
            max-width: 100%;
        }
    }

    #see {
        display: block;
        width: fit-content;

        z-index: 99;
        position: absolute;

        margin-top: 0.4rem;
        padding: 8px 16px;
        border-radius: 6px;

        text-align: center;
        font-size: 1.12em;
        text-decoration: none;
        color: colors.$light;

        background-color: colors.$primary;
        cursor: pointer;

        transition-duration: 300ms;

        &:hover {
            transform: scale(1.1);
        }
    }
}

main {
    padding: 1.2em;

    background-color: darken(colors.$light, 2);

    section {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 760px) {
            flex-direction: column;
        }

        img {
            object-fit: contain;
            max-width: 100%;
        }

        p {
            max-width: 548px;
        }
    }

    .invert {
        @media screen and (max-width: 760px) {
            flex-direction: column-reverse;
        }
    }
}