@use "colors";

.relatorio {
    #painel {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 70%;
        margin: auto;
        margin-top: 8vh;
        margin-bottom: 3vh;

        select, input[type=number] {
            display: block;
            background-color: colors.$light;

            padding: 4px;
            font-size: 0.95em;

            border: 1px solid #34312d29;

            box-shadow: 0px 0px 1px #34312d3d;

            &:focus {
                outline: none;
            }
        }

        select {
            width: 300px;
        }

        input[type=number] {
            width: 60px;
        }
    }

    .despesas {
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 15px;

        .despesa {
            width: 45%;
            margin: auto;

            border-radius: 8px;
            padding: 8px;
            padding-bottom: 16px;

            border: 1px solid #34312d29;

            box-shadow: 0px 0px 2px #34312d3d;

            h2, p {
                font-weight: normal;
            }

            h2 {
                font-size: 1.1em;
            }

            p {
                font-size: 1em;
            }

            @media screen and (max-width: 1000px) {
                width: 85%;
            }

            @media screen and (max-width: 540px) {
                width: 95%;
            }

            .consulta {
                border: none;

                font-size: 1em;

                padding: 3px 8px;
                border-radius: 10px;

                cursor: pointer;
                transform: translateX(5px);

                background-color: colors.$primary;
                color: colors.$light;
            }

            .detalhes {
                position: absolute;

                background-color: colors.$light;
                right: 50%;

                border-radius: 8px;
                border: 1px solid #34312d29;

                box-shadow: 0px 0px 2px #34312d3d;
            }
        }
    }

    .paginas {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: 2rem 0 0.2rem 0;

        div {
            background-color: colors.$primary;
            color: colors.$light;
            padding: 5px 15px;
            padding-top: 12px;
            border-radius: 10px;
            font-size: 1.3em;
        }
    }
}