header {
    max-width: 1330px;
    margin: auto;
    text-align: center;   

    margin-top: 10vh;
    margin-bottom: 10vh;

    padding: 25px;
}

main {
    max-width: 1330px;
    margin: auto;
    margin-bottom: 8vh;

    padding: 25px;

    h2 {
        font-weight: 500;
        margin-top: 3.5rem;
    }

    ul {
        margin-top: 2rem
    }

    li {
        font-size: 1.05em;
    }
}