---
import BaseLayout from "../layouts/BaseLayout.astro"

import "../styles/404.scss";
---

<BaseLayout title="FiscalizaJá Deputados | Página não encontrada.">
    <main>
        <div id="content">
            <div>
                <h1>Ops, não há nada aqui...</h1>
                <p>A página que você está procurando não existe.</p>
            </div>
            <img 
                src="/groove_fisca.gif"
                width="180"
                height="180"
                alt="Imagem do personagem do FiscalizaJá, porém na versão do meme 'groove'."
            />
        </div>
    </main>
</BaseLayout>