---
import BaseLayout from "../layouts/BaseLayout.astro";

import "../styles/home.scss";
---

<BaseLayout title="Uma forma diferente de fiscalizar. | FiscalizaJá Deputados" description="FiscalizaJá veio para facilitar o acesso ás despesas dos nossos parlamentares. Chega de ser complicado, venha fiscalizar de forma fácil e intuitiva!" tags="fiscalizaja, dados abertos, transparencia, deputados, gastos dos deputados">
    <header>
        <div id="content">
            <div>
                <h1>Uma forma diferente de fiscalizar.</h1>
                <p>Pra quê ser tão complicado acessar as despesas dos deputados?<br/> O FiscalizaJá veio para mudar isso!</p>
                <a id="see" href="/deputados">Consultar &gt;</a>
            </div>
            <img 
                src="/vault.png"
                width="470"
                height="470"
                alt="Imagem de um homem olhando dentro do cofre. O cofre representa o dinheiro público, possuímos o direito de auditar!"
            />
        </div>
    </header>
</BaseLayout>