---
import BaseLayout from "../layouts/BaseLayout.astro";

import "../styles/home.scss";
---

<BaseLayout title="Uma forma diferente de fiscalizar. | FiscalizaJá Deputados" description="FiscalizaJá veio para facilitar o acesso ás despesas dos nossos parlamentares. Chega de ser complicado, venha fiscalizar de forma fácil e intuitiva!" tags="fiscalizaja, dados abertos, transparencia, deputados, gastos dos deputados">
    <header>
        <div id="content">
            <div>
                <h1>Uma forma diferente de fiscalizar.</h1>
                <p>Pra quê ser tão complicado acessar as despesas dos deputados?<br/> O FiscalizaJá veio para mudar isso!</p>
                <a id="see" href="/deputados">Consultar &gt;</a>
            </div>
            <picture>
                <source srcset="/vault.avif" type="image/avif"/>
                <img
                    src="/vault.png"
                    width="470"
                    height="470"
                    alt="Imagem de um homem olhando dentro do cofre. O cofre representa o dinheiro público, possuímos o direito de auditar!"
                />
            </picture>
        </div>
    </header>
    <main>
        <section>
            <div>
                <h2>Fiscalização cidadã</h2>
                <p>Desenvolvido com &#128150; para todo e qualquer cidadão brasileiro auditar os valores gastos com a cota parlamentar pelos deputados federais.</p>
            </div>
            <img 
                src="https://fiscalizaja.com/fiscaliza-logo_social.png"
                width="320"
                height="320"
            />
        </section>
        <section class="invert">
            <img 
                src="https://fiscalizaja.com/fiscaliza-tiny.png"
                width="320"
                height="320"
                style="transform: translateY(-44px)"
            />
            <div>
                <h2>Fácil acesso</h2>
                <p>Os dados são disponibilizados em um formato fácil de interpretar, sem deixar de mostrar informações completas e atualizadas.</p>
                <p style="font-size: 0.8em">Dados atualizados diariamente às 06:00</p>
            </div>
        </section>
    </main>
</BaseLayout>