---
import "../styles/sobre.scss";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Sobre o FiscalizaJá" description="Uma forma diferente de fiscalizar | Conheça detalhes sobre o FiscalizaJá deputados!">
    <header>
        <h1>Uma forma diferente de Fiscalizar.</h1>
        <p>Auditar as despesas dos deputados federais nunca foi tão fácil.</p>
    </header>
    <main>
        <h2>Afinal, o que é o FiscalizaJá?</h2>
        <p>FiscalizaJá é um projeto recente criado por mim, que após saber sobre o caso do <a href="https://brasiliapp.com.br/" target="_blank">Brasiliapp</a> que havia sido tirado do ar devido a uma ameaça de morte feita ao desenvolvedor.</p>
        <p>Isso foi em <strong>fevereiro!</strong> Somente em <strong>setembro</strong> houve o lançamento da primeira versão <a href="https://www.tabnews.com.br/VictorReisDavid/fiscalizaja-gastos-dos-deputados-federais-ao-facil-acesso" target="_blank">que você pode ver aqui no Tabnews</a> e foi um sucesso na plataforma. Foi o mais relevante por dois dias.</p>
        <p>No entanto, a primeira versão tinha um tempo de resposta lento e dependia do serviço da câmara, que fica instável frequentemente.</p>
        <p>O novo <strong>FiscalizaJá Deputados</strong> possui um serviço próprio que baixa e mantém os dados paralelos aos da câmara, isso quer dizer mesmo se o serviço deles cair, o fiscalizaJá continua planemtne operante!</p>
        
        <h2>De onde veio o nome "FiscalizaJá?"</h2>
        <p>No começo, o nome era <strong>O transparente</strong> que foi cancelado devido a problemas com o serviço da câmara.</p>
        <p>2 Meses depois, surge o nome "FiscalizaJá"!</p>
        <ul>
            <li>A fiscalização no Brasil é algo ausente, é muito difícil a população auditar gastos públicos a qualquer hora. O fiscalizaJá veio para mudar isso.</li>
            <li>Fiscaliza + Já é uma junção, onde mostra a necessidade povo Brasileiro fiscalizar IMEDIATAMENTE o uso do nosso dinheiro.</li>
            <li>O nome também faz lembra o movimento <strong>diretas já</strong> que foi super importante para o Brasil</li>
        </ul>

        <h2>Não para por ai.</h2>
        <p>Planejamos expandir para o Senado e Supremo Tribunal Federal!</p>
        <p>Nos ajude nessa missão doando para nossa <a href="https://www.vakinha.com.br/4280807" target="_blank">vakinha online</a> ou diretamente para mim via pix para <strong>victorreis5919@gmail.com</strong> (doar para a vakinha garante maior transparência e organização do dinheiro).</p>
    </main>
</BaseLayout>