---
import "../styles/navbar.scss";
---

<nav id="nav">
    <div>
        <div id="nav-content">
            <p>FiscalizaJá Deputados</p>
            <div id="nav-links">
                <a href="/">Início</a>
                <a href="/deputados">Deputados</a>
                <a href="/sobre">Sobre</a>
            </div>
        </div>
    </div>
</nav>